.pits {
  display: flex;
  flex-wrap: wrap;
}

ul {
  list-style: none;
  border: 1px solid grey;
  margin: 20px;
  width: 50px;
  font-size: 18px;
  padding: 0;
  text-align: center;
}

input {
  height: 32px;
  margin-left: 32px;
}
